*{
    padding: 0;
    margin: 0;
}
 @font-face {
    font-family: Raleway;
    src: url(Folder/Raleway-Regular.ttf);
 }
body{
    font-size: 18px;
    color: white;
    background-color: rgb(71 85 105);
    font-family: 'Raleway';
    letter-spacing: 0.5px;
}

.title{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 1.2em;
}

.player-div1{
    margin-left: 5px;
    font-size: 1.4em;
}

.player-div2{
    margin-right: 5px;
    font-size: 1.4em;
}

.turn1{
    opacity: 1;
}

.turn2{
    opacity: 0;
}

.notYourTurn{
    opacity: 0.5;
}

.grid-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid rgb(161 161 170);
    height: 65vh;
    width: 65vh;
    background-color: rgb(23, 27, 39);
    margin-bottom: 30px;
    margin-top: 30px;
}

.square{
    border: 1px solid rgb(161 161 170);
    font-size: 7em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;
    height: 90vh;
}


.square:hover{
    cursor: pointer;
    background-color: rgb(34, 40, 58);
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.restart{
    width: 33vh;
    height: 9vh;
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 2em;
    font-weight: 700;
    border-radius: 10px;
}

.restart:hover{
    background-color: rgb(25, 26, 27);  
    border: rgb(25, 26, 27);
    cursor: pointer;
}

.restart:active{
    background-color: rgb(36, 38, 39);  
    transform: scale(1.01);
}

@media (max-width: 1100px) {
    .container {
        gap: 100px;
    }
    .grid-board {
        height: 60vh;
        width: 60vh;
    }
    .player-div1{
        margin-left: 5px;
        font-size: 1.2em;
    }
    
    .player-div2{
        margin-right: 5px;
        font-size: 1.2em;
    }
    .restart {
        width: 30vh;
        height: 8vh;
        font-size: 1.8em;
        font-weight: 700;
    }
}

@media (max-width: 995px) {
    .title{
        font-size: 1.1rem;
        height: 9vh;
    }
    .container {
        height: 91vh;
        gap: 80px;
    }
    .grid-board {
        height: 55vh;
        width: 55vh;
        margin-top: 0px;
    }
    .square{
        font-size: 6rem;
    }
    .player-div1{
        margin-left: 5px;
        font-size: 1.1em;
    }
    
    .player-div2{
        margin-right: 5px;
        font-size: 1.1em;
    }
    .restart {
        width: 27vh;
        height: 7.2vh;
        font-size: 1.5em;
        font-weight: 600;
    }
}

@media (max-width: 880px) {
    .container {
        height: 91vh;
        gap: 60px;
    }
    .grid-board {
        height: 50vh;
        width: 50vh;
        margin-top: 0px;
    }
    .square{
        font-size: 5.5rem;
    }
    .player-div1{
        margin-left: 5px;
        font-size: 1em;
    }
    
    .player-div2{
        margin-right: 5px;
        font-size: 1em;
    }
    .restart {
        width: 25vh;
        height: 7vh;
        font-size: 1.3em;
        font-weight: 600;
    }
}

@media (max-width: 775px) {
    .container {
    height: 91vh;
    gap: 40px;
}
.grid-board {
    height: 45vh;
    width: 45vh;
    margin-bottom: 40px;
}
.square{
    font-size: 5rem;
}
.player-div1{
    margin-left: 5px;
    font-size: 1em;
}

.player-div2{
    margin-right: 5px;
    font-size: 1em;
}
.restart {
    width: 22vh;
    height: 6.4vh;
    font-size: 1.2em;
    font-weight: 600;
}}
@media (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 68vh;
    }
    .player-div1 {
        margin-left: 0px;
    }
    .player-div2 {
        margin-right: 0px;
    }
}
@media (max-width: 450px) {
    .grid-board {
        height: 40vh;
        width: 40vh;
        margin-bottom: 40px;
    }
    .restart {
        width: 21vh;
        height: 6vh;
        font-size: 1.1em;
        font-weight: 600;
    }
    .player-div1 {
        font-size: 0.95em;
    }
    .player-div32 {
        font-size: 0.95em;
    }
}
